body{
    height: 100vh;
    width: 100vw;    
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    color: #c5c7ff;
}

#columnContainer{
    background: linear-gradient(60deg, #00296B 0.00%, rgb(31, 145, 207) 100.00%);
}

#mainPanel{
    background-color:#00296B ;
}

#textInput{
    font: inherit;
    background-color: #c5c7ff;
}

*{
    transition: color 0.3s ease-in-out 0s, background-color 0.3s ease-in-out 0s;
}

#modal{
    background: #00296B;
    z-index: -1;
}

#disableModal{
    font: inherit;
    color: white;
}

#enableModal{
    font: inherit;
    color: white;
}