html, body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
}
#theTitle{
    text-align: center;
    font-size: 50px;
    padding: 18px;
    color: rgba(200,195,177,255);
}

#container{
    height: 100%;
    width: 100%;
    background-color: rgba(70,71,70,255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#mainPanel{
    max-width: 30%;
    background-color: rgb(99,105,106);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 18px;
    border-radius: 18px;
}

#textPanel{
    padding: 18px;
}

#textPanel span{
    color: white;
}

#inputTextPanel{
    padding: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#textInput{
    width: 100%;
    color: white;
    background-color: rgb(111,119,120);
    font:inherit;
    border-radius: 5px;
}

#redoButton{
    font:inherit;
    border-radius: 5px;
    background-color: rgb(243,166,35);
    color: white;
}

#bottomPanel{
    padding: 18px;
}

